[Unit]
Description=The Walker Menu's daemon, speeding up the startup
After=graphical.target

[Service]
ExecStart=/usr/bin/walker --gapplication-service
Restart=on-failure
Type=simple

[Install]
WantedBy=multi-user.target
