* {
    font-family: 'Fira Sans';
    font-size: 16px;
    color: white;
}


#root-box {
    background: transparent;
}

.background, #app-list, .overlay-indicator {
    background: #1a1b26;
}

.app-row {
    transition: unset;
    border-radius: 4px;
    padding: 5px;
    margin: 0 3px;
    background-clip: padding-box;
}

.app-row:focus {
    outline: unset;
}

.app-row:hover:selected {
    background-color: alpha(white, 0.1);
}

.app-row:hover {
    background-color: alpha(white, 0.035);
}

.app-row:selected {
    background-color: alpha(white, 0.05);
}


.app-row:hover.selected {
    background-color: alpha(white, 0.1);
}

.app-label {
    margin-left: 10px;
}

#app-list {
    padding: 0 5px;
    border-radius: 6px;
}


#root-box {
    min-width: 300px;
}

scrollbar.vertical slider {
    background-color: alpha(white, 0.15);
}

#search {
    background: #1a1b26;
    border: unset;
    outline: unset;
    box-shadow: inset 0px 0px 0px 1px alpha(#dc69ff, 0.5);
    margin-bottom: 5px;
    font-size: 18px;
    padding: 2px 8px;
}

selection {
    background-color: alpha(#dc69ff, 0.5);
} 
