/* Derived from https://github.com/cjbassi/config/blob/master/.config/waybar/style.css` */

* {
	font-size: 20px;
	font-family: Fira Code;
}

window#waybar {
	background: #32344a;
	color: #fdf6e3;
}

#custom-right-arrow-dark,
#custom-left-arrow-dark {
	color: #1a1b26;
}
#custom-right-arrow-light,
#custom-left-arrow-light {
	color: #32344a;
	background: #1a1b26;
}

#workspaces,
#clock.1,
#clock.2,
#clock.3,
#idle_inhibitor,
#pulseaudio,
#network,
#memory,
#cpu,
#battery,
#disk,
#tray {
	background: #1a1b26;
}

button {
	box-shadow: inherit;
	text-shadow: inherit;
	padding: inherit;
	border: inherit;
	border-radius: inherit;
}

#workspaces button {
	padding: 0 2px;
	color: #fdf6e3;
}
#workspaces button.focused {
	color: #268bd2;
}
#workspaces button:hover {
	background: #1a1b26;
	border: #1a1b26;
}
#workspaces button.urgent {
	color: #eb4d4b;
}

#idle_inhibitor {
	color: #449dab;
}
#pulseaudio {
	color: #ad8ee6;
}
#network {
	color: #9ece6a;
}
#battery {
	color: #e0af68;
}

#clock,
#idle_inhibitor,
#pulseaudio,
#network,
#memory,
#cpu,
#battery,
#disk,
#tray {
	padding: 0 10px;
}

#tray > . {
  padding: 0 10px;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}
